<%
  page ||= 1
  per_page ||= 10
  total_pages = (show.episodes.length / per_page).ceil
  end_i = (page * per_page)
  start_i = end_i - per_page
%>

<% show.episodes[start_i...end_i].each do |episode| %>
  <%= link_to play_show_episode_path(show: show.id, title: episode.id),
              remote: true, data: {turbolinks_action: 'replace'},
              class: "play-episode p-2 hover:bg-grey-lighter no-underline flex items-center text-grey-darker" do %>
    <img src="<%= episode.image_url %>" class="block flex-shrink self-start h-24 mr-4" />
    <div>
      <h4 class="mb-2"><%= episode.title %></h4>
      <p class="text-sm leading-normal"><%= episode.subtitle %></p>
    </div>
  <% end %>
<% end %>

<% if show.episodes.length >= end_i + 1 %>
  <%= link_to 'Load More Episodes',
        show_path(show.id, page: page + 1, per_page: per_page),
        remote: true,
        data: {
          turbolinks_action: 'replace',
          controller: "page-loader",
          action: "scroll@window->page-loader#loadMore"
        },
        class: 'load-more-button
          block w-full border-2 border-grey-darkest rounded no-underline
          p-4 text-center uppercase font-black text-grey-darkest
          hover:border-grey-dark hover:text-grey-dark'
  %>
<% end %>
